#Software
Software/_Nixie_clock/Debug/
Software/.vs/
_Nixie_clock.componentinfo.xml

#Hardware
Hardware/Altium/Nixie_clock/History/
Hardware/Altium/Nixie_clock/Project Logs for Nixie_Clock/
Hardware/Altium/Nixie_clock/Project Outputs for Nixie_Clock/
